* {
  box-sizing: border-box;
}

:root {
  --clr-accent: #08fdd8;
  --clr-txt: #eaeaea;
  --border-radius: 0.5rem;
  --transition: 200ms ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  background: #181818;
  font-family: "JetBrains Mono, helvetica";
}

@media screen and (min-width: 800px) {
  .app {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
