.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-txt);
  .nav-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 7rem;
    .nav-logo {
      color: var(--clr-accent);
      font-size: 2rem;
      margin-top: 8px;
    }
    .nav-title {
      font-size: 1.25rem;
    }
  }
  .nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
    & a {
      transition: var(--transition);
      color: var(--clr-txt);
      text-decoration: none;
      &:hover {
        transform: scale(1.3);
        color: var(--clr-accent);
      }
    }
    .home-icon {
      transition: var(--transition);
      font-size: 1.5rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.3);
        color: var(--clr-accent);
      }
    }
    .github-icon {
      display: inline-flex;
      transition: var(--transition);
      font-size: 3.25rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.3);
        color: var(--clr-accent);
      }
    }
  }
}
